<div class="page-header">
  <%= link_to new_apartment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Apartment
  <% end %>
  <h1>Listing apartments</h1>
</div>

<form action="/" method="get">
  <input type="text" name="search">
  <input type="submit" value="Search">
</form>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Address1</th>
            <th>Address2</th>
            <th>City</th>
            <th>Postal code</th>
            <th>State</th>
            <th>Country</th>
            <th>Description</th>
              <th>Owner</th>
              <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @apartments) do |apartment| %>
            <td><%= apartment.address1 %></td>

            <td><%= apartment.address2 %></td>
            <td><%= apartment.city %></td>
            <td><%= apartment.postal_code %></td>
            <td><%= apartment.state %></td>
            <td><%= apartment.country %></td>
            <td><%= apartment.description %></td>
            <td><a href='owners/<%=apartment.owner_id%>'><%= apartment.owner.name %></a></td>
            <td><%= apartment.user.email %></td>
            <td><%= link_to 'Show', apartment %></td>
            <% if apartment.user == current_user %>
              <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
              <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <td><%= image_tag apartment.image.url(:thumb) %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div id="allmap">Google map will appear here...</div>



<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},
    internal: {id: 'allmap'}
  },
  function() {
    markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2);
  }
);
</script>
