<div class="page-header">
  <%= link_to apartments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_apartment_path(@apartment), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show apartment</h1>
</div>

<%= image_tag @apartment.image.url(:medium)%>

<dl class="dl-horizontal">
  <dt>Address1:</dt>
  <dd><%= @apartment.address1 %></dd>

  <dt>Address2:</dt>
  <dd><%= @apartment.address2 %></dd>

  <dt>City:</dt>
  <dd><%= @apartment.city %></dd>

  <dt>Postal code:</dt>
  <dd><%= @apartment.postal_code %></dd>

  <dt>State:</dt>
  <dd><%= @apartment.state %></dd>

  <dt>Country:</dt>
  <dd><%= @apartment.country %></dd>

  <dt>Owner:</dt>
  <dd><%= @apartment.owner.name %></dd>

  <dt>Description:</dt>
  <dd><%= @apartment.description %></dd>


</dl>

<!-- <div id="map">Google map will appear here...</div> -->

<div id="map" data-apartment-id="<%=@apartment.id%>">Google Map will appear here...</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},
    internal: {id: 'map'}
  },
  function() {
    markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(8);
  }
);
</script>
